<form>
  <nav class="navbar fixed-top navbar-expand-lg  navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">
    <img src="../../../../../favicon.ico" width="35" height="35" class="d-inline-block align-top" alt="">
    KJiro
  </span>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">


        <li class="nav-item">
          <a class="nav-header-menu-item" href="/">
            Новый проект
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-header-menu-item" href="/">
            Новый таск
          </a>
        </li>

        <li class="nav-item active">
          <a class="nav-header-menu-item" href="/">
            Новый пользователь
          </a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-primary " type="submit">Search</button>
      </form>
    </div>
  </nav>

</form>

