<div class="modal-dialog">
  <div class="modal-content">
    <div class="card">
      <header class="modal-header">
        <h1 class="auth-title">
          <div class="logo">
            <span class="l l1"></span>
            <span class="l l2"></span>
            <span class="l l3"></span>
            <span class="l l4"></span>
            <span class="l l5"></span>
          </div>
          Система управления проектами
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </header>
      <div class="modal-body loginModal">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>
