<!--<app-form-dialog [titleForm]="title">-->
  <!--<form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="form-elegant">-->
    <!--<h1 class="text-center">Войти в систему</h1>-->
    <!--<div class="form-group m-4 " [ngClass]="{'has-error': formLogin.get('email').invalid && formLogin.get('email').touched}">-->
      <!--<div class="form-row">-->
        <!--<input-->
          <!--type="text"-->
          <!--required autocomplete="off"-->
          <!--formControlName="email">-->
        <!--<label>Email</label>-->
        <!--<div>-->
      <!--<span-->
        <!--class="form-help-text"-->
        <!--*ngIf="formLogin.get('email').touched && formLogin.get('email').invalid">-->
        <!--<span *ngIf="formLogin.get('email')['errors']['required']">Email не может быть пустым</span>-->
        <!--<span *ngIf="formLogin.get('email')['errors']['email']">Email не корректный</span>-->
      <!--</span>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group m-4"-->
         <!--[ngClass]="{'has-error': formLogin.get('password').invalid && formLogin.get('password').touched}">-->
      <!--<div class="form-row">-->
        <!--<input-->
          <!--type="password"-->
          <!--required autocomplete="off"-->
          <!--formControlName="password">-->
        <!--<label>Пароль</label>-->
        <!--<span-->
          <!--class="form-help-text"-->
          <!--*ngIf="formLogin.get('password').touched && formLogin.get('password').invalid">-->
      <!--<span *ngIf="formLogin.get('password')['errors']['required']">Пароль не может быть пустым</span>-->
      <!--<span *ngIf="formLogin.get('password')['errors']['minlength']">Пароль length {{formLogin.get('password')['errors']['minlength']['requiredLength']}}</span>-->
    <!--</span>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="form-group form-elegant">-->
      <!--<button type="button"-->
              <!--class="btn blue-gradient-->
           <!--btn-block btn-rounded-->
            <!--waves-effect-->
            <!--z-depth-1a-->
            <!--waves-light">-->
        <!--Submit-->
      <!--</button>-->
    <!--</div>-->
    <!--<div class="text-center">-->
      <!--<label>Remember me</label>-->
      <!--<input type="checkbox" id="cbx" style="display: none;">-->
      <!--<label for="cbx" class="check">-->
        <!--<svg width="18px" height="18px" viewBox="0 0 18 18">-->
          <!--<path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>-->
          <!--<polyline points="1 9 7 14 15 4"></polyline>-->
        <!--</svg>-->
      <!--</label>-->
    <!--</div>-->

    <!--<p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign in with:</p>-->

    <!--<div class="row my-3 d-flex justify-content-center">-->

    <!--</div>-->

  <!--</form>-->
  <!--<div class="modal-footer">-->

  <!--</div>-->
<!--</app-form-dialog>-->
<div class="auth-main">
  <div class="auth-block">
    <h1>Sign in to ng2-admin</h1>
    <a [routerLink]="['Register']" class="auth-link">New to ng2-admin? Sign up!</a>

    <ng-form (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div [formGroup]="form">

        <div class="form-group row" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

          <div class="col-sm-10">
            <input formControlName="email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
        </div>
        <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

          <div class="col-sm-10">
            <input formControlName="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-10">
            <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Sign in</button>
            <a [routerLink]="['login']" class="forgot-pass">Forgot password?</a>
          </div>
        </div>
      </div>
    </ng-form>

    <div class="auth-sep"><span><span>or Sign in with one click</span></span></div>

    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
        <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
        <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
      </ul>
    </div>

      </div>

  </div>

