<form [formGroup]="formTask" class="form-elegant">
  <h1 class="text-center">Новый проект</h1>
  <div class="form-group m-4 ">
    <div class="form-row">
      <label>Код проекта</label>
      <input
        type="text"
        formControlName="projectCode">
    </div>

  </div>
  <div class="form-group m-3">
    <div class="md-form amber-textarea active-amber-textarea">
      <textarea  class="md-textarea form-control border-0" rows="3" placeholder="Описание задачи..." formControlName="summary"></textarea>
    </div>
  </div>
  <div class="form-group m-4 ">
    <div class="form-row">
      <label>Срок выполнения</label>
      <input
        type="date"
        formControlName="duedate">
    </div>

  </div>
  <div class="form-group m-4 ">
    <div class="form-row">
      <label>Дата выполнения</label>
      <input
        type="hiden"
        formControlName="updatedDate">
    </div>
  </div>
  <div class="form-group m-4 ">
    <div class="form-row">
      <label>Дата создания</label>
      <input
        type="date"
        disabled="true"
        formControlName="createdDate">
    </div>
  </div>
  <div  class="form-group m-4">

    <div class="cntr">

      <label class="radio">
        <input type="radio" name="rdo" class="hidden"/>
        <span class="label"></span>blocker
      </label>

      <label  class="radio">
        <input type="radio" name="rdo"  class="hidden"/>
        <span class="label"></span>critical
      </label>

      <label class="radio">
        <input type="radio" name="rdo"  class="hidden"/>
        <span class="label"></span>major
      </label>

      <label class="radio">
        <input type="radio" name="rdo"  class="hidden"/>
        <span class="label"></span>normal
      </label>
      <label class="radio">
        <input type="radio" name="rdo" class="hidden"/>
        <span class="label"></span>minor
      </label>

    </div>
    <div>
      <span
        class="form-help-text"
        *ngIf="formTask.get('priority').touched && formTask.get('priority').invalid">
        <span *ngIf="formTask.get('priority')['errors']['required']">Role не может быть пустым</span>
      </span>
    </div>
  </div>
  <!--Material textarea-->

  <div class="form-group m-4 ">
    <div class="form-row">
      <label>Автор задачи</label>
      <input
        type="text"
        disabled="true"
        formControlName="кузщкеук">
    </div>
  </div>

  <app-gradient-button></app-gradient-button>



</form>
<div class="modal-footer">

</div>
