.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 15px;
}
.hidden {
  display: none;
}
.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #225cff;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio:hover .label:after {
  transform: scale(3.6);
}
.cntr {
  position: relative;
  top: calc(90% - 10px);
  left: 0;
  width: 100%;
  text-align: center;
}
input[type="radio"]:checked + .label {
  border-color: #225cff;
}
input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.amber-textarea textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffa000;
  box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea.md-form label.active {
  color: #ffa000;
}


.active-amber-textarea-2 textarea.md-textarea {
  border-bottom: 1px solid #ffa000;
  box-shadow: 0 1px 0 0 #ffa000;
}
.active-amber-textarea-2.md-form label.active {
  color: #ffa000;
}
.active-amber-textarea-2.md-form label {
  color: #ffa000;
}
.form-elegant .font-small {
  font-size: 0.8rem; }


.form-elegant .modal-header {
  border-bottom: none; }

.modal-dialog .form-elegant .btn .fab {
  color: #2196f3!important; }

.form-elegant .modal-body, .form-elegant .modal-footer {
  font-weight: 400; }



.form-row input {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 2px solid #eae0c3;
  transition: all 0.2s ease;
}
.form-row label {
  position: relative;
  color: #9d959d;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}
.form-row textarea {
  position: relative;
  color: #9d959d;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(-10px);
  transition: all 0.2s ease;
}
