<!--
Скрытый checkbox, отвечающий за переключение панели, должен быть в верхней части документа, лучше сразу после тега `<body>`

`id` атрибут предназначен для связки с атрибутом `for` тега <label>

Атрибут `hidden` указывает состояние «скрытый» у текущего элемента
-->
<input type="checkbox" id="nav-toggle" hidden>
<!--
Выдвижную панель размещаете ниже
флажка (checkbox), но не обязательно
непосредственно после него, например
можно и в конце страницы
-->
<nav class="nav">
  <!--
Метка с именем `id` чекбокса в `for` атрибуте
Символ Unicode 'TRIGRAM FOR HEAVEN' (U+2630)
Пустой атрибут `onclick` используем для исправления бага в iOS < 6.0
-->
  <label for="nav-toggle" class="nav-toggle" onclick></label>

  <h2 class="logo">
    <img src="../../../../../../icon/no-image.png"  class="rounded-circle img-responsive" width="100" height="100">
    <div>
      <a
        href="/">login
      </a>
    </div>
  </h2>
  <ul>
    <li><a href="#1">Мой профиль</a>
    <li><a href="#2">Мои задания</a>

  </ul>
</nav>
<!--
Маска (затемнение) основного контента при включенной панели
по-умолчанию данная фишка не используется, если оно вам надо,
    просто расккоментируйте div-контейнер ниже
   -->
<div class="mask-content"></div>


<!--
Далее размещаем любую разметку,
много слов, картинки и т.д...
-->


