<form [formGroup]="formProject" class="form-elegant">
  <h1 class="text-center">Новый проект</h1>
  <div class="form-group m-4 ">
    <div class="form-row">
      <label>Код проекта</label>
      <input
        disabled="true"
        type="text"
        formControlName="projectCode">
    </div>

  </div>
  <div class="form-group m-3">
      <div class="md-form amber-textarea active-amber-textarea">
        <textarea  class="md-textarea form-control border-0" rows="3" placeholder="Summary..." formControlName="summary"></textarea>
      </div>
  </div>

  <!--Material textarea-->
</form>

  <app-gradient-button></app-gradient-button>



<!--</form>-->
<!--<div class="modal-footer">-->

<!--</div>-->

<!--<p class="text-xs-center">-->
  <!--Новый Task-->
<!--</p>-->
<!--<form >-->
  <!--<div class="form-group">-->
    <!--<label for="projectCode">Код проекта</label>-->
    <!--<input type="text" id="projectCode" class="form-control underlined" placeholder="Введите email"></div>-->
  <!--<div class="form-group">-->
    <!--<label>Информация</label>-->
    <!--<input-->
      <!--type="text"-->
      <!--class="form-control underlined"-->

      <!--placeholder="Введите имя"-->
    <!--&gt;-->
  <!--</div>-->
  <!--<div class="form-group">-->
    <!--<label for="priority">Приорет</label>-->
    <!--<input-->
      <!--type="text"-->
      <!--class="form-control underlined"-->
      <!--id="priority"-->
      <!--placeholder="Введите фамилию"-->
    <!--&gt;-->
  <!--</div>-->

  <!--<div class="form-group">-->
    <!--<button type="submit" class="btn btn-block btn-primary">Войти</button>-->
  <!--</div>-->
<!--</form>-->
