<h2>{{task.projectCode | uppercase}}</h2>
<p>{{task.description}}</p>
<div class="m-3">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-header-menu-item" href="/">
          Edit
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-header-menu-item" href="/">
          Assign
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-header-menu-item" href="/">
          Start
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-header-menu-item" href="/">
          Restore
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-header-menu-item" href="/">
          Ready for test
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-header-menu-item" href="/">
          Start
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-header-menu-item" href="/">
          Reopen
        </a>
      </li>

      <li class="nav-item active">
        <a class="nav-header-menu-item" href="/">
          Close
        </a>
      </li>
    </ul>
  </div>
</div>
